In [1]:
#Title

In [2]:
#Deliverable 1 Population Statistics

In [3]:
!pip install wbdata

Collecting wbdata
  Downloading wbdata-1.0.0-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: appdirs<2.0,>=1.4 in c:\users\allison\anaconda3\lib\site-packages (from wbdata) (1.4.4)
Collecting backoff<3.0.0,>=2.2.1 (from wbdata)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: cachetools<6.0.0,>=5.3.2 in c:\users\allison\anaconda3\lib\site-packages (from wbdata) (5.3.3)
Collecting dateparser<2.0.0,>=1.2.0 (from wbdata)
  Downloading dateparser-1.2.0-py2.py3-none-any.whl.metadata (28 kB)
Requirement already satisfied: decorator<6.0.0,>=5.1.1 in c:\users\allison\anaconda3\lib\site-packages (from wbdata) (5.1.1)
Requirement already satisfied: requests<3.0,>=2.0 in c:\users\allison\anaconda3\lib\site-packages (from wbdata) (2.32.2)
Collecting shelved-cache<0.4.0,>=0.3.1 (from wbdata)
  Downloading shelved_cache-0.3.1-py3-none-any.whl.metadata (4.7 kB)
Collecting tabulate<0.9.0,>=0.8.5 (from wbdata)
  Downloading tabulate-0.8.10-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: python-dateutil in c:\users\allison\anaconda3\lib\site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (2.9.0.post0)
Requirement already satisfied: pytz in c:\users\allison\anaconda3\lib\site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (2024.1)
Requirement already satisfied: regex!=2019.02.19,!=2021.8.27 in c:\users\allison\anaconda3\lib\site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (2023.10.3)
Collecting tzlocal (from dateparser<2.0.0,>=1.2.0->wbdata)
  Downloading tzlocal-5.2-py3-none-any.whl.metadata (7.8 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\allison\anaconda3\lib\site-packages (from requests<3.0,>=2.0->wbdata) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\allison\anaconda3\lib\site-packages (from requests<3.0,>=2.0->wbdata) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\allison\anaconda3\lib\site-packages (from requests<3.0,>=2.0->wbdata) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\allison\anaconda3\lib\site-packages (from requests<3.0,>=2.0->wbdata) (2024.8.30)
Requirement already satisfied: six>=1.5 in c:\users\allison\anaconda3\lib\site-packages (from python-dateutil->dateparser<2.0.0,>=1.2.0->wbdata) (1.16.0)
Requirement already satisfied: tzdata in c:\users\allison\anaconda3\lib\site-packages (from tzlocal->dateparser<2.0.0,>=1.2.0->wbdata) (2023.3)
Downloading wbdata-1.0.0-py3-none-any.whl (18 kB)
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading dateparser-1.2.0-py2.py3-none-any.whl (294 kB)
   ---------------------------------------- 0.0/295.0 kB ? eta -:--:--
   ---------------------------------------- 295.0/295.0 kB 9.2 MB/s eta 0:00:00
Downloading shelved_cache-0.3.1-py3-none-any.whl (7.8 kB)
Downloading tabulate-0.8.10-py3-none-any.whl (29 kB)
Downloading tzlocal-5.2-py3-none-any.whl (17 kB)
Installing collected packages: tzlocal, tabulate, shelved-cache, backoff, dateparser, wbdata
  Attempting uninstall: tabulate
    Found existing installation: tabulate 0.9.0
    Uninstalling tabulate-0.9.0:
      Successfully uninstalled tabulate-0.9.0
Successfully installed backoff-2.2.1 dateparser-1.2.0 shelved-cache-0.3.1 tabulate-0.8.10 tzlocal-5.2 wbdata-1.0.0

In [4]:
import wbdata
wbdata.get_topics()

  id  value
----  -------------------------------
   1  Agriculture & Rural Development
   2  Aid Effectiveness
   3  Economy & Growth
   4  Education
   5  Energy & Mining
   6  Environment
   7  Financial Sector
   8  Health
   9  Infrastructure
  10  Social Protection & Labor
  11  Poverty
  12  Private Sector
  13  Public Sector
  14  Science & Technology
  15  Social Development
  16  Urban Development
  17  Gender
  18  Millenium development goals
  19  Climate Change
  20  External Debt
  21  Trade

In [5]:
import pandas as pd
import numpy as np

In [6]:
wbdata.get_sources()

  id  name
----  --------------------------------------------------------------------
   1  Doing Business
   2  World Development Indicators
   3  Worldwide Governance Indicators
   5  Subnational Malnutrition Database
   6  International Debt Statistics
  11  Africa Development Indicators
  12  Education Statistics
  13  Enterprise Surveys
  14  Gender Statistics
  15  Global Economic Monitor
  16  Health Nutrition and Population Statistics
  18  IDA Results Measurement System
  19  Millennium Development Goals
  20  Quarterly Public Sector Debt
  22  Quarterly External Debt Statistics SDDS
  23  Quarterly External Debt Statistics GDDS
  25  Jobs
  27  Global Economic Prospects
  28  Global Financial Inclusion
  29  The Atlas of Social Protection: Indicators of Resilience and Equity
  30  Exporter Dynamics Database â€“ Indicators at Country-Year Level
  31  Country Policy and Institutional Assessment
  32  Global Financial Development
  33  G20 Financial Inclusion Indicators
  34  Global Partnership for Education
  35  Sustainable Energy for All
  37  LAC Equity Lab
  38  Subnational Poverty
  39  Health Nutrition and Population Statistics by Wealth Quintile
  40  Population estimates and projections
  41  Country Partnership Strategy for India (FY2013 - 17)
  43  Adjusted Net Savings
  45  Indonesia Database for Policy and Economic Research
  46  Sustainable Development Goals
  50  Subnational Population
  54  Joint External Debt Hub
  57  WDI Database Archives
  58  Universal Health Coverage
  59  Wealth Accounts
  60  Economic Fitness
  61  PPPs Regulatory Quality
  62  International Comparison Program (ICP) 2011
  63  Human Capital Index
  64  Worldwide Bureaucracy Indicators
  65  Health Equity and Financial Protection Indicators
  66  Logistics Performance Index
  67  PEFA 2011
  68  PEFA 2016
  69  Global Financial Inclusion and Consumer Protection Survey
  70  Economic Fitness 2
  71  International Comparison Program (ICP) 2005
  73  Global Financial Inclusion and Consumer Protection Survey (Internal)
  75  Environment, Social and Governance (ESG) Data
  76  Remittance Prices Worldwide (Sending Countries)
  77  Remittance Prices Worldwide (Receiving Countries)
  78  ICP 2017
  79  PEFA_GRPFM
  80  Gender Disaggregated Labor Database (GDLD)
  81  International Debt Statistics: DSSI
  82  Global Public Procurement
  83  Statistical Performance Indicators (SPI)
  84  Education Policy
  85  PEFA_2021_SNG
  86  Global Jobs Indicators Database (JOIN)
  87  Country Climate and Development Report (CCDR)
  88  Food Prices for Nutrition
  89  Identification for Development (ID4D) Data
  90  ICP 2021
  91  PEFA_CRPFM

In [8]:
indicators = wbdata.get_indicators(source=40)
indicators

id                 name
-----------------  -------------------------------------------------------------------
SH.DTH.0509        Number of deaths ages 5-9 years
SH.DTH.0514        Number of deaths ages 5-14 years
SH.DTH.1014        Number of deaths ages 10-14 years
SH.DTH.1019        Number of deaths ages 10-19 years
SH.DTH.1519        Number of deaths ages 15-19 years
SH.DTH.2024        Number of deaths ages 20-24 years
SH.DTH.IMRT        Number of infant deaths
SH.DTH.IMRT.FE     Number of infant deaths, female
SH.DTH.IMRT.MA     Number of infant deaths, male
SH.DTH.MORT        Number of under-five deaths
SH.DTH.MORT.FE     Number of under-five deaths, female
SH.DTH.MORT.MA     Number of under-five deaths, male
SH.DTH.NMRT        Number of neonatal deaths
SH.DYN.0509        Probability of dying among children ages 5-9 years (per 1,000)
SH.DYN.0514        Probability of dying at age 5-14 years (per 1,000 children age 5)
SH.DYN.1014        Probability of dying among adolescents ages 10-14 years (per 1,000)
SH.DYN.1019        Probability of dying among adolescents ages 10-19 years (per 1,000)
SH.DYN.1519        Probability of dying among adolescents ages 15-19 years (per 1,000)
SH.DYN.2024        Probability of dying among youth ages 20-24 years (per 1,000)
SH.DYN.MORT        Mortality rate, under-5 (per 1,000 live births)
SH.DYN.MORT.FE     Mortality rate, under-5, female (per 1,000 live births)
SH.DYN.MORT.MA     Mortality rate, under-5, male (per 1,000 live births)
SH.DYN.NMRT        Mortality rate, neonatal (per 1,000 live births)
SM.POP.NETM        Net migration
SP.DYN.AMRT.FE     Mortality rate, adult, female (per 1,000 female adults)
SP.DYN.AMRT.MA     Mortality rate, adult, male (per 1,000 male adults)
SP.DYN.CBRT.IN     Birth rate, crude (per 1,000 people)
SP.DYN.CDRT.IN     Death rate, crude (per 1,000 people)
SP.DYN.IMRT.FE.IN  Mortality rate, infant, female (per 1,000 live births)
SP.DYN.IMRT.IN     Mortality rate, infant (per 1,000 live births)
SP.DYN.IMRT.MA.IN  Mortality rate, infant, male (per 1,000 live births)
SP.DYN.LE00.FE.IN  Life expectancy at birth, female (years)
SP.DYN.LE00.IN     Life expectancy at birth, total (years)
SP.DYN.LE00.MA.IN  Life expectancy at birth, male (years)
SP.DYN.TFRT.IN     Fertility rate, total (births per woman)
SP.POP.0004.FE     Population ages 00-04, female
SP.POP.0004.FE.5Y  Population ages 00-04, female (% of female population)
SP.POP.0004.MA     Population ages 00-04, male
SP.POP.0004.MA.5Y  Population ages 00-04, male (% of male population)
SP.POP.0014.FE.IN  Population ages 0-14, female
SP.POP.0014.FE.ZS  Population ages 0-14, female (% of female population)
SP.POP.0014.MA.IN  Population ages 0-14, male
SP.POP.0014.MA.ZS  Population ages 0-14, male (% of male population)
SP.POP.0014.TO     Population ages 0-14, total
SP.POP.0014.TO.ZS  Population ages 0-14 (% of total population)
SP.POP.0509.FE     Population ages 05-09, female
SP.POP.0509.FE.5Y  Population ages 05-09, female (% of female population)
SP.POP.0509.MA     Population ages 05-09, male
SP.POP.0509.MA.5Y  Population ages 05-09, male (% of male population)
SP.POP.1014.FE     Population ages 10-14, female
SP.POP.1014.FE.5Y  Population ages 10-14, female (% of female population)
SP.POP.1014.MA     Population ages 10-14, male
SP.POP.1014.MA.5Y  Population ages 10-14, male (% of male population)
SP.POP.1519.FE     Population ages 15-19, female
SP.POP.1519.FE.5Y  Population ages 15-19, female (% of female population)
SP.POP.1519.MA     Population ages 15-19, male
SP.POP.1519.MA.5Y  Population ages 15-19, male (% of male population)
SP.POP.1564.FE.IN  Population ages 15-64, female
SP.POP.1564.FE.ZS  Population ages 15-64, female (% of female population)
SP.POP.1564.MA.IN  Population ages 15-64, male
SP.POP.1564.MA.ZS  Population ages 15-64, male (% of male population)
SP.POP.1564.TO     Population ages 15-64, total
SP.POP.1564.TO.ZS  Population ages 15-64 (% of total population)
SP.POP.2024.FE     Population ages 20-24, female
SP.POP.2024.FE.5Y  Population ages 20-24, female (% of female population)
SP.POP.2024.MA     Population ages 20-24, male
SP.POP.2024.MA.5Y  Population ages 20-24, male (% of male population)
SP.POP.2529.FE     Population ages 25-29, female
SP.POP.2529.FE.5Y  Population ages 25-29, female (% of female population)
SP.POP.2529.MA     Population ages 25-29, male
SP.POP.2529.MA.5Y  Population ages 25-29, male (% of male population)
SP.POP.3034.FE     Population ages 30-34, female
SP.POP.3034.FE.5Y  Population ages 30-34, female (% of female population)
SP.POP.3034.MA     Population ages 30-34, male
SP.POP.3034.MA.5Y  Population ages 30-34, male (% of male population)
SP.POP.3539.FE     Population ages 35-39, female
SP.POP.3539.FE.5Y  Population ages 35-39, female (% of female population)
SP.POP.3539.MA     Population ages 35-39, male
SP.POP.3539.MA.5Y  Population ages 35-39, male (% of male population)
SP.POP.4044.FE     Population ages 40-44, female
SP.POP.4044.FE.5Y  Population ages 40-44, female (% of female population)
SP.POP.4044.MA     Population ages 40-44, male
SP.POP.4044.MA.5Y  Population ages 40-44, male (% of male population)
SP.POP.4549.FE     Population ages 45-49, female
SP.POP.4549.FE.5Y  Population ages 45-49, female (% of female population)
SP.POP.4549.MA     Population ages 45-49, male
SP.POP.4549.MA.5Y  Population ages 45-49, male (% of male population)
SP.POP.5054.FE     Population ages 50-54, female
SP.POP.5054.FE.5Y  Population ages 50-54, female (% of female population)
SP.POP.5054.MA     Population ages 50-54, male
SP.POP.5054.MA.5Y  Population ages 50-54, male (% of male population)
SP.POP.5559.FE     Population ages 55-59, female
SP.POP.5559.FE.5Y  Population ages 55-59, female (% of female population)
SP.POP.5559.MA     Population ages 55-59, male
SP.POP.5559.MA.5Y  Population ages 55-59, male (% of male population)
SP.POP.6064.FE     Population ages 60-64, female
SP.POP.6064.FE.5Y  Population ages 60-64, female (% of female population)
SP.POP.6064.MA     Population ages 60-64, male
SP.POP.6064.MA.5Y  Population ages 60-64, male (% of male population)
SP.POP.6569.FE     Population ages 65-69, female
SP.POP.6569.FE.5Y  Population ages 65-69, female (% of female population)
SP.POP.6569.MA     Population ages 65-69, male
SP.POP.6569.MA.5Y  Population ages 65-69, male (% of male population)
SP.POP.65UP.FE.IN  Population ages 65 and above, female
SP.POP.65UP.FE.ZS  Population ages 65 and above, female (% of female population)
SP.POP.65UP.MA.IN  Population ages 65 and above, male
SP.POP.65UP.MA.ZS  Population ages 65 and above, male (% of male population)
SP.POP.65UP.TO     Population ages 65 and above, total
SP.POP.65UP.TO.ZS  Population ages 65 and above (% of total population)
SP.POP.7074.FE     Population ages 70-74, female
SP.POP.7074.FE.5Y  Population ages 70-74, female (% of female population)
SP.POP.7074.MA     Population ages 70-74, male
SP.POP.7074.MA.5Y  Population ages 70-74, male (% of male population)
SP.POP.7579.FE     Population ages 75-79, female
SP.POP.7579.FE.5Y  Population ages 75-79, female (% of female population)
SP.POP.7579.MA     Population ages 75-79, male
SP.POP.7579.MA.5Y  Population ages 75-79, male (% of male population)
SP.POP.80UP.FE     Population ages 80 and above, female
SP.POP.80UP.FE.5Y  Population ages 80 and above, female (% of female population)
SP.POP.80UP.MA     Population ages 80 and above, male
SP.POP.80UP.MA.5Y  Population ages 80 and above, male (% of male population)
SP.POP.AG00.FE.IN  Age population, age 00, female, interpolated
SP.POP.AG00.MA.IN  Age population, age 00, male, interpolated
SP.POP.AG01.FE.IN  Age population, age 01, female, interpolated
SP.POP.AG01.MA.IN  Age population, age 01, male, interpolated
SP.POP.AG02.FE.IN  Age population, age 02, female, interpolated
SP.POP.AG02.MA.IN  Age population, age 02, male, interpolated
SP.POP.AG03.FE.IN  Age population, age 03, female, interpolated
SP.POP.AG03.MA.IN  Age population, age 03, male, interpolated
SP.POP.AG04.FE.IN  Age population, age 04, female, interpolated
SP.POP.AG04.MA.IN  Age population, age 04, male, interpolated
SP.POP.AG05.FE.IN  Age population, age 05, female, interpolated
SP.POP.AG05.MA.IN  Age population, age 05, male, interpolated
SP.POP.AG06.FE.IN  Age population, age 06, female, interpolated
SP.POP.AG06.MA.IN  Age population, age 06, male, interpolated
SP.POP.AG07.FE.IN  Age population, age 07, female, interpolated
SP.POP.AG07.MA.IN  Age population, age 07, male, interpolated
SP.POP.AG08.FE.IN  Age population, age 08, female, interpolated
SP.POP.AG08.MA.IN  Age population, age 08, male, interpolated
SP.POP.AG09.FE.IN  Age population, age 09, female, interpolated
SP.POP.AG09.MA.IN  Age population, age 09, male, interpolated
SP.POP.AG10.FE.IN  Age population, age 10, female, interpolated
SP.POP.AG10.MA.IN  Age population, age 10, male, interpolated
SP.POP.AG11.FE.IN  Age population, age 11, female, interpolated
SP.POP.AG11.MA.IN  Age population, age 11, male, interpolated
SP.POP.AG12.FE.IN  Age population, age 12, female, interpolated
SP.POP.AG12.MA.IN  Age population, age 12, male, interpolated
SP.POP.AG13.FE.IN  Age population, age 13, female, interpolated
SP.POP.AG13.MA.IN  Age population, age 13, male, interpolated
SP.POP.AG14.FE.IN  Age population, age 14, female, interpolated
SP.POP.AG14.MA.IN  Age population, age 14, male, interpolated
SP.POP.AG15.FE.IN  Age population, age 15, female, interpolated
SP.POP.AG15.MA.IN  Age population, age 15, male, interpolated
SP.POP.AG16.FE.IN  Age population, age 16, female, interpolated
SP.POP.AG16.MA.IN  Age population, age 16, male, interpolated
SP.POP.AG17.FE.IN  Age population, age 17, female, interpolated
SP.POP.AG17.MA.IN  Age population, age 17, male, interpolated
SP.POP.AG18.FE.IN  Age population, age 18, female, interpolated
SP.POP.AG18.MA.IN  Age population, age 18, male, interpolated
SP.POP.AG19.FE.IN  Age population, age 19, female, interpolated
SP.POP.AG19.MA.IN  Age population, age 19, male, interpolated
SP.POP.AG20.FE.IN  Age population, age 20, female, interpolated
SP.POP.AG20.MA.IN  Age population, age 20, male, interpolated
SP.POP.AG21.FE.IN  Age population, age 21, female, interpolated
SP.POP.AG21.MA.IN  Age population, age 21, male, interpolated
SP.POP.AG22.FE.IN  Age population, age 22, female, interpolated
SP.POP.AG22.MA.IN  Age population, age 22, male, interpolated
SP.POP.AG23.FE.IN  Age population, age 23, female, interpolated
SP.POP.AG23.MA.IN  Age population, age 23, male, interpolated
SP.POP.AG24.FE.IN  Age population, age 24, female, interpolated
SP.POP.AG24.MA.IN  Age population, age 24, male, interpolated
SP.POP.AG25.FE.IN  Age population, age 25, female, interpolated
SP.POP.AG25.MA.IN  Age population, age 25, male, interpolated
SP.POP.BRTH.MF     Sex ratio at birth (male births per female births)
SP.POP.DPND        Age dependency ratio (% of working-age population)
SP.POP.DPND.OL     Age dependency ratio, old (% of working-age population)
SP.POP.DPND.YG     Age dependency ratio, young (% of working-age population)
SP.POP.GROW        Population growth (annual %)
SP.POP.TOTL        Population, total
SP.POP.TOTL.FE.IN  Population, female
SP.POP.TOTL.FE.ZS  Population, female (% of total population)
SP.POP.TOTL.MA.IN  Population, male
SP.POP.TOTL.MA.ZS  Population, male (% of total population)
SP.RUR.TOTL        Rural population
SP.RUR.TOTL.ZG     Rural population growth (annual %)
SP.RUR.TOTL.ZS     Rural population (% of total population)
SP.URB.GROW        Urban population growth (annual %)
SP.URB.TOTL        Urban population
SP.URB.TOTL.IN.ZS  Urban population (% of total population)

In [58]:
sexdict = {'Male':'MA', 'Female':'FE'}
def population(year,sex,age_range,place):
    lower, upper = age_range[0], age_range[1]
    assert upper >= lower, "Invalid date range!" #Part of Deliverable 2
    assert sex in ["Male", "Female", "Both"], "Invalid sex Please use one of the following: Male, Female, Both"
    if sex == "Both":
        return population(year,"Male",age_range,place) + population(year,"Female",age_range,place)
    if upper > 80:
        upper = 'UP'
    if upper == lower + 4:
        label = f'SP.POP.{lower:02d}{upper}.{sexdict[sex]}.IN'
        df = wbdata.get_dataframe(label,country=place,parse_dates=True)
    else:
        yrs = [(x, x+4) for x in range(lower, upper, 5)]
        ranges = [f'{x[0]:02d}{x[1]:02d}' for x in yrs]
        var = [f"SP.POP.{x}.{sexdict[sex]}" for x in ranges]
        feed = {x: f"{sex} {ranges[var.index(x)]}" for x in var} # constructs variable dictionary to be fed to wbdata
        
        df = wbdata.get_dataframe(feed,country=place,parse_dates=True).reset_index()
        df = df[df['date'] == f'{year}-01-01'] # selecting relevant year
        df.drop('date', axis=1, inplace=True)
        extra = ((yrs[-1][1] - upper) / 5) * (df.iloc[:,-1].to_list()[0]) # controls for age ranges not on bounds, could change to 
                                                                          # year by year subtraction)
    sum = df.sum(axis=1).iloc[0]
    return (sum - extra)

In [61]:
population(1990, 'Male', (10,33), 'CHN')

263801536.6

In [ ]:
#Deliverable 3 Population Data Frames

In [80]:
def population_data_frames(year, sex, age_range, place):
    lower, upper = age_range[0], age_range[1]
    assert upper >= lower, "Invalid date range!" #Part of Deliverable 2
    assert sex in ["Male", "Female", "Both"], "Invalid sex Please use one of the following: Male, Female, Both"
    if sex == "Both":
        return population_data_frames(year,"Male",age_range,place).merge(population_data_frames(year,"Female",age_range,place), on="date")
    if upper > 80:
        upper = 'UP'
    if upper == lower + 4:
        label = f'SP.POP.{lower:02d}{upper}.{sexdict[sex]}.IN'
        df = wbdata.get_dataframe(label,country=place,parse_dates=True)
    else:
        yrs = [(x, x+4) for x in range(lower, upper, 5)]
        ranges = [f'{x[0]:02d}{x[1]:02d}' for x in yrs]
        var = [f"SP.POP.{x}.{sexdict[sex]}" for x in ranges]
        feed = {x: f"{sex} {ranges[var.index(x)]}" for x in var} # constructs variable dictionary to be fed to wbdata
        
        df = wbdata.get_dataframe(feed,country=place,parse_dates=True).reset_index()
        df['country'] = place
        df.set_index(['country', 'date'], inplace=True)
    return df

In [81]:
population_data_frames(1990, 'Male', (10,33), 'CHN')

                     Male 1014   Male 1519   Male 2024   Male 2529   Male 3034
country date
CHN     2023-01-01  47697475.0  43619845.0  42690196.0  45996968.0  58571312.0
        2022-01-01  46945694.0  42880142.0  43079433.0  47322938.0  61347262.0
        2021-01-01  46077575.0  42441714.0  43637348.0  48943931.0  63431979.0
        2020-01-01  45390757.0  42444894.0  44208685.0  51917714.0  63016755.0
        2019-01-01  44534610.0  42626158.0  45014490.0  55706672.0  60783908.0
...                        ...         ...         ...         ...         ...
        1964-01-01  45210547.0  32772310.0  27179605.0  26566937.0  24330081.0
        1963-01-01  43265071.0  31245247.0  27269359.0  26878889.0  23871048.0
        1962-01-01  40877563.0  29902774.0  27482213.0  26824171.0  23384228.0
        1961-01-01  38596810.0  29125584.0  27700640.0  26562875.0  23028989.0
        1960-01-01  36823111.0  29027168.0  28092415.0  26459425.0  22874774.0

[64 rows x 5 columns]

In [82]:
population_data_frames(1990, 'Both', (10,33), 'CHN')

,Male 1014,Male 1519,Male 2024,Male 2529,Male 3034,Female 1014,Female 1519,Female 2024,Female 2529,Female 3034
date,,,,,,,,,,
2023-01-01,47697475.0,43619845.0,42690196.0,45996968.0,58571312.0,40892243.0,37182969.0,36605841.0,40184117.0,52861422.0
2022-01-01,46945694.0,42880142.0,43079433.0,47322938.0,61347262.0,40161573.0,36559731.0,37035577.0,41562725.0,55702933.0
2021-01-01,46077575.0,42441714.0,43637348.0,48943931.0,63431979.0,39352043.0,36210584.0,37629021.0,43238213.0,57929324.0
2020-01-01,45390757.0,42444894.0,44208685.0,51917714.0,63016755.0,38718791.0,36255224.0,38255106.0,46168527.0,57874577.0
2019-01-01,44534610.0,42626158.0,45014490.0,55706672.0,60783908.0,37959894.0,36469477.0,39112543.0,49873080.0,56135406.0
...,...,...,...,...,...,...,...,...,...,...
1964-01-01,45210547.0,32772310.0,27179605.0,26566937.0,24330081.0,43236900.0,30062519.0,24208269.0,23499927.0,22007969.0
1963-01-01,43265071.0,31245247.0,27269359.0,26878889.0,23871048.0,41174542.0,28433763.0,24118305.0,23923846.0,21660173.0
1962-01-01,40877563.0,29902774.0,27482213.0,26824171.0,23384228.0,38550727.0,27084802.0,24120873.0,24034501.0,21287773.0
1961-01-01,38596810.0,29125584.0,27700640.0,26562875.0,23028989.0,35990952.0,26262486.0,24208928.0,23901128.0,21019399.0
1960-01-01,36823111.0,29027168.0,28092415.0,26459425.0,22874774.0,33964856.0,25955016.0,24590972.0,23794913.0,20951533.0

In [83]:
#Deliverable 2 Unit Tests

In [84]:
#assert population(year=2000,sex='Male',age_range=(0,100),place='WLD') > 0.0000000000000000001,"Too few males!"
population_data_frames(year=2000,sex='Male',age_range=(0,31),place='WLD')

                      Male 0004    Male 0509    Male 1014    Male 1519  \
country date
WLD     2023-01-01  334765288.0  353677898.0  350908323.0  330734289.0
        2022-01-01  339582664.0  355425122.0  347895623.0  327019295.0
        2021-01-01  345189042.0  355703002.0  344122479.0  324017775.0
        2020-01-01  350515471.0  355003268.0  340399749.0  322082499.0
        2019-01-01  354290946.0  353558134.0  336199668.0  320243605.0
...                         ...          ...          ...          ...
        1964-01-01  238500833.0  207779867.0  183539354.0  148168760.0
        1963-01-01  230073603.0  205823961.0  177924352.0  142070274.0
        1962-01-01  223504268.0  202091753.0  171734513.0  136888120.0
        1961-01-01  221655154.0  197980983.0  165710593.0  132998073.0
        1960-01-01  223060092.0  193928438.0  159370701.0  131387366.0

                      Male 2024    Male 2529    Male 3034
country date
WLD     2023-01-01  315810689.0  307639362.0  310933348.0
        2022-01-01  314174911.0  307658633.0  311976794.0
        2021-01-01  312601224.0  307806041.0  311921453.0
        2020-01-01  311226388.0  309641234.0  309357029.0
        2019-01-01  310119231.0  312139575.0  304364288.0
...                         ...          ...          ...
        1964-01-01  127111370.0  121082975.0  110092224.0
        1963-01-01  126982400.0  119446331.0  109213285.0
        1962-01-01  127032057.0  117484451.0  108231564.0
        1961-01-01  126755054.0  115629420.0  106926150.0
        1960-01-01  126062243.0  114504362.0  105334423.0

[64 rows x 7 columns]